@import "../variables";

.section.section-details{
	background: $background-alternate;
	margin:0;
	padding:40px 0;

	.page-wrap{
		display: flex;
		justify-content: space-between;

		@include mq("tablet-wide"){
			flex-wrap:wrap;
		}

		@include mq("phone"){
			flex-direction: column;
		}
	}

	.details-panel{
		width:33%;
		padding: 0 15px;

		@include mq("tablet-wide"){
			width:40%;
		}

		@include mq("tablet-small"){
			&:last-child{
				width: 100%;
			}
		}

		@include mq("phone"){
			flex-direction: column;
			margin:30px 0;
			width: initial;
		}

		h2{
			font-size: 1.65em;
			text-align: center;

			@include mq("phone"){
				font-size: 1.8em;
			}
		}

		p{
			text-align: justify;

			@include mq("phone"){
				font-size: 1.1em;
				margin: 0 15px;
			}
		}
	}
}