@import "../variables";

.section.section-picture-feed{
	background: $background-alternate;
	margin: 0;
	padding:40px 0;

	@include mq("phone"){
		padding: 0;
	}

	.page-wrap-wide{
		@include mq("phone"){
			margin:0 10px;
		}
	}

	.picture-feed-container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top:60px;

		> .picture-feed-picture{
			align-items: center;
			cursor: pointer;
			display: flex;
			height:400px;
			justify-content: center;
			margin-bottom: 20px;
			overflow: hidden;
			width:500px;

			img{ transition: transform 0.3s; }

			.video-icon{
				color: rgba(255, 255, 255, 0.8);
				height:15%;
				position: absolute;
				transition: transform 0.3s;
				width:15%;

				circle, polygon{
					stroke-width: 1;
				}
			}

			&:hover, &:focus{
				img, .video-icon { transform: scale(1.1); }
				.video-icon{ color: rgba(255, 255, 255, 0.9); }
			}
		}
	}

	.picture-feed-loading{
		text-align: center;
	}

	.load-more-container{
		margin: 10px 0;
		text-align: center;

		.btn.btn-primary{
			cursor: pointer;
			min-width: initial;
			padding:10px 15px;
			text-transform: none;
		}
	}

}


.modal-container{

	.rodal-mask{
		background: rgba(0, 0, 0, .7);
	}


	.rodal-dialog{
		max-height: 90vh;
		max-width: 90vh;

		@include mq(675){
			max-height: 100% !important;
			max-width: 100% !important;
		}

		> div {
			height: 100%;
			text-align: center;

			.ig-user{
				align-items: center;
				border-bottom: 1px solid #000;
				display: flex;
				flex: 1 0 auto;
				margin: 10px 0;
				padding-bottom: 15px;
				width: calc(100% - 50px);

				@include mq(675){
					margin: 0;
					padding-bottom: 0;
					width: 100%;
				}

				img{
					border-radius: 50%;
					margin-right:20px;
					width:75px;
				}

				span{
					font-weight: bold;
				}
			}

			> img{
				max-height: 80%;

				@include mq(675){
					width: 100%;
				}
			}

			.ig-content{
				width: 100%;
				
				p{
					text-align: center;
				}
			}

			.mobile-close-modal{
				display: none;

				@include mq("tablet"){
					display: block;
					text-align: center;
					margin-top:40px;
				}
			}
		}
	}
}
